<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Syncfusion.Compression.Base" publicKeyToken="3d67ed1f87d44c89" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-17.4450.0.39" newVersion="17.4450.0.39" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Syncfusion.Licensing" publicKeyToken="632609b4d040f6b4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-17.4450.0.39" newVersion="17.4450.0.39" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <!--<configSections>
    --><!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --><!--
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core" />
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core" />
      <section name="parsers" type="Spring.Context.Support.NamespaceParsersSectionHandler, Spring.Core" />
    </sectionGroup>
  </configSections>-->
   <!--<spring>

    <context>
      <resource uri="config://spring/objects" />
    </context>

   <parsers>
      <parser type="Spring.Data.Config.DatabaseNamespaceParser, Spring.Data" />
    </parsers>

    <objects xsi:schemaLocation="http://www.springframework.net http://www.springframework.net/xsd/spring-objects.xsd" xmlns="http://www.springframework.net" xmlns:db="http://www.springframework.net/database" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
      --><!--INYECCION DE OBJETOS DAO DE SPRING--><!--
      <db:provider id="DbProviderOraAdm" provider="System.Data.OracleClient" connectionString="Data Source=CENMX_DESARROLLO;User Id=admcensi;Password=admcensi;" />
      --><!--ADO TEMPLATE--><!--
      <object id="adoTemplateOraAdm" type="Spring.Data.Core.AdoTemplate, Spring.Data">
        <property name="DbProvider" ref="DbProviderOraAdm" />
      </object>
     
      --><!--OBJETOS DEL MODULO DE SEGURIDAD--><!--
      <object name="SecuenciaCargaArchivoImpl" type="Configuracion.dao.SecuenciaCargaArchivoImpl, Configuracion.dao">
        <property name="AdoTemplate" ref="adoTemplateOraAdm" />
      </object>
      
    </objects>
  </spring>-->
</configuration>